# App
ENVIRONMENT=development
PORT=3000

# Database
DATABASE_URL=postgresql://user:password@localhost:5432/worktrack

# Auth
JWT_ACCESS_SECRET=super-secret-access
JWT_REFRESH_SECRET=super-secret-refresh
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
